{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Directing Template" />
    <meta name="keywords" content="Directing, unica, creative, html" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Zogin | Template</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/barfiller.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!-- Navbar Section -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <div class="header__logo">
                <a href="{% static './index.html'%}"
                  ><img src="{% static 'img/logo.png'%}" alt=""
                /></a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9">
              <div class="header__top__widget">
                <ul>
                  <li>CALL US: + 1 800-567-8990</li>
                  <li>WRITE US: OFFICE@EXAMPLE.COM</li>
                  <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                </ul>
                <a href="#" class="primary-btn">JOIN US</a>
                {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="canvas__open">
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </div>
      <div class="header__nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9">
              <nav class="header__menu">
                <ul>
                  <li><a href="{% static '../'%}">Home</a></li>
                  <li><a href="{% static '../exercises'%}">Exercises</a></li>
                  <li><a href="{% static '../events/list'%}">Events</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-3 col-md-3">
              <div class="header__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Hero Section Begin -->
    <section class="hero">
      <div class="hero__sliders owl-carousel">
        <div
          class="hero__items set-bg"
          data-setbg="{% static 'img/hero/hero-1.jpg'%}"
        >
          <div class="container">
            <main>{% block content %} {% endblock %}</main>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->
    <!-- Content Block -->

    <!-- Footer Section -->
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer__about">
              <img src="{% static 'img/footer-logo.png' %}" alt="" />
              <ul>
                <li>
                  <i class="fa fa-clock-o"></i> Mon - Fri: 6:30am - 07:45pm
                </li>
                <li>
                  <i class="fa fa-clock-o"></i> Sat - Sun: 8:30am - 05:45pm
                </li>
              </ul>
              <form action="#" class="subscribe-form">
                <input type="text" placeholder="Your Email" />
                <button type="submit"><i class="fa fa-send"></i></button>
              </form>
            </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h5>Inspiration</h5>
              <ul>
                <li><a href="#">Online Pilates</a></li>
                <li><a href="#">Yoga for Beginners</a></li>
                <li><a href="#">Online Pilates</a></li>
                <li><a href="#">Online Yoga</a></li>
                <li><a href="#">Conditioning</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h5>About Us</h5>
              <ul>
                <li><a href="#">Our Vision</a></li>
                <li><a href="#">Our Mission</a></li>
                <li><a href="#">Meet The Team</a></li>
                <li><a href="#">Introduce</a></li>
                <li><a href="#">Customer Service</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__widget">
              <h5>Contact Us</h5>
              <ul class="footer-address">
                <li><i class="fa fa-phone"></i> (01) 436 8888</li>
                <li><i class="fa fa-envelope"></i> hello@zogin.com</li>
                <li>
                  <i class="fa fa-location-arrow"></i> 828 Granville Lights
                  Suite 466
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__copyright">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer__copyright__text">
                <p>
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved | This template is made with
                  <i class="fa fa-heart" aria-hidden="true"></i> by
                  <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer__copyright__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
