{% extends 'base_template/home.html' %} {% block content %}
<section class="class-details spad">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="class__form">
          <h2 class="text-center mb-4">Edit Exercise Set</h2>
          <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <div id="exercise-sets">
              {% for exercise_set in plan.exercise_sets.all %}
              <div class="exercise-set">
                <input
                  type="hidden"
                  name="exercise_set_ids"
                  value="{{ exercise_set.id }}"
                />
                <div class="form-group">
                  <label for="sets_{{ exercise_set.id }}">Sets:</label>
                  <input
                    type="number"
                    id="sets_{{ exercise_set.id }}"
                    name="sets_{{ exercise_set.id }}"
                    value="{{ exercise_set.sets }}"
                    required
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="repetitions_{{ exercise_set.id }}"
                    >Repetitions:</label
                  >
                  <input
                    type="number"
                    id="repetitions_{{ exercise_set.id }}"
                    name="repetitions_{{ exercise_set.id }}"
                    value="{{ exercise_set.repetitions }}"
                    required
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="rest_time_{{ exercise_set.id }}"
                    >Rest Time (in seconds):</label
                  >
                  <input
                    type="number"
                    id="rest_time_{{ exercise_set.id }}"
                    name="rest_time_{{ exercise_set.id }}"
                    value="{{ exercise_set.rest_time }}"
                    required
                    class="form-control"
                  />
                </div>
              </div>
              {% endfor %}
            </div>
            <button type="submit">Save</button>
          </form>
          <a href="{% url 'training_plan_list' %}" class="btn btn-link mt-3"
            >Back to Training Plan</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
