{% extends 'base_template/home.html' %}

{% block content %}
<section class="class-details spad">
    <div class="container py-5">
        <h1 class="text-center mb-5">{% if form.instance.pk %}Edit Ingredient{% else %}New Ingredient{% endif %}</h1>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block mt-3">
                        {% if form.instance.pk %}Update{% else %}Create{% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
