{% extends 'recipes/diet_template.html' %}

{% load static %}

{% block content %}

<style>
    /* Custom styles for recipe tags */
    .recipe-tags {
        margin-top: 10px; /* Add margin above the tags */
    }

    .recipe-tags .tag {
        background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
        backdrop-filter: blur(10px); /* Blurry background effect */
        border-radius: 15px; /* Rounded edges */
        padding: 8px 12px; /* Increased padding for better spacing */
        margin: 5px; /* Margin around each tag to create space */
        color: #333; /* Darker text color for contrast */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        display: inline-block; /* Ensure tags are inline-block to respect margins */
    }

    .recipe-tags .tag:hover {
        background-color: rgba(255, 255, 255, 1); /* Solid white on hover */
    }

    /* Title styles */
    .section-title {
        text-align: center; /* Center align the title */
        margin: 20px 0; /* Space around the title */
        font-size: 2.5em; /* Font size for the title */
        font-family: 'Arial', sans-serif; /* You can change this to any font you prefer */
        font-weight: bold; /* Make the title bold */
        color: #333; /* Title color */
    }

    .image-wrapper {
    width: 100%; /* Ensures the wrapper takes full width */
    height: 200px; /* Fixed height for uniformity */
    overflow: hidden; /* Hides any overflow from images */
    }

    .image-wrapper img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures the image fills the wrapper */
    }

</style>
<section class="best-receipe-area">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="section-title">My Recipes</h1>
            <a href="{% url 'add_recipe' %}" class="btn btn-info">Add Recipe</a> 
    
            </div>
        <div class="row">
            {% for recipe in recipes %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <div class="image-wrapper">
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
                    </div>
                    <div class="receipe-content">
                        <a href="{% url 'recipe_detail' recipe.id %}"> 
                            <h5>{{ recipe.name|capfirst }}</h5>
                        </a>
                        <p><strong>Type:</strong> {{ recipe.type|title }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-center">No recipes available. <a href="#">Add one now!</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
